<!--マイページ画面-->

<div class="profile-container"> <!--ユーザーのプロフィールを上部に表示-->
  <h3 class="profile-name"><%= @user.name %></h3>
   <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %> <!--設定したプロフィール画像が出るように-->
  <% if @user.id == current_user.id %> <!--プロフィール編集ページへのリンク表示。ログイン状態の時のみ表示-->
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
  <% end %>
</div>

<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <% @post_images.each do |post_image| %> <!--コントローラから渡されたpost_images変数内から1つずつ取り出して、post_image変数へ格納-->
            <div class="masonry-block">
              <div class="block block-image v1">
                <div class="block-image">
                  <div class="view view-first">
                    <%= link_to post_image_path(post_image.id) do %> <!--post_image_pathは詳細画面ののパス-->
                      <%= attachment_image_tag post_image, :image %> <!--attachment_image_tagは、refile側が用意したヘルパー。imgタグを作成。post_image変数のimage_idに保存された画像のimgタグを生成。-->
                    <% end %>
                  </div>
                </div>
                <div class="block-content">
                  <%= attachment_image_tag post_image.user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                  <h3 class="block-title">
                    <%= link_to post_image_path(post_image.id) do %>
                      <i class="fa fa-map-marker"></i><%= post_image.shop_name %> <!--post_image変数のshop_nameカラムを表示-->
                    <% end %>
                  </h3>
                  <p><%= post_image.caption %></p> <!--post_image変数のcaptionカラムを表示-->
                  <ul class="inline-meta">
                    <li>By
                      <%= post_image.user.name %> <!--post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
                    </li>
                    <li>
                      <%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %> <!--コメント件数-->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
          <!--ページング機能-->
          <%= paginate @post_images %>
        </div>
      </div>
    </div>
  </div>
</section>