<!--ログイン後に投稿画像の一覧を表示する-->
<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <% @post_images.each do |post_image| %> <!--コントローラから渡されたpost_images変数内から1つずつ取り出して、post_image変数へ格納-->
            <div class="masonry-block">
              <div class="block block-image v1">
                <div class="block-image">
                  <div class="view view-first">
                    <%= link_to post_image_path(post_image.id) do %> <!--post_image_pathは詳細画面ののパス-->
                      <%= attachment_image_tag post_image, :image %> <!--attachment_image_tagは、refile側が用意したヘルパー。imgタグを作成。post_image変数のimage_idに保存された画像のimgタグを生成。-->
                    <% end %>
                  </div>
                </div>
                <div class="block-content">
                  <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %>
                  <h3 class="block-title">
                    <%= link_to post_image_path(post_image.id) do %>
                      <i class="fa fa-map-marker"></i><%= post_image.shop_name %> <!--post_image変数のshop_nameカラムを表示-->
                    <% end %>
                  </h3>
                  <p><%= post_image.caption %></p> <!--post_image変数のcaptionカラムを表示-->
                  <ul class="inline-meta">
                    <li>By
                      <%= post_image.user.name %> <!--post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
                    </li>
                    <li>
                      <%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %> <!--コメント件数-->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
